{% extends ':accounting:layout.html.twig' %}

{% trans_default_domain 'accounting' %}

{% form_theme formEdit ':accounting:_fields.html.twig' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ 'add.title'|trans }}</h1>
        <nav>
            <a href="{{ path('app_accounting_homepage') }}" class="btn btn-outline-secondary">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_accounting_add">

        {{ form_errors(formEdit) }}

        {{ form_start(formEdit) }}

        <div class="container">

            <div class="edit1">
                {{ form_row(formEdit.date) }}
                {{ form_row(formEdit.dateValue) }}
                {{ form_row(formEdit.amount,{attr:{class:'number'}}) }}
                {{ form_row(formEdit.thirdName,{attr:{class:'full'}}) }}
                {{ form_row(formEdit.paymentMethod,{attr:{class:'full'}}) }}
                {{ form_row(formEdit.bankName,{attr:{class:'full'}}) }}
                {{ form_row(formEdit.operationNumber,{attr:{class:'full'}}) }}
                {{ form_row(formEdit.information,{attr:{class:'full'}}) }}
                {{ form_row(formEdit.copy) }}
            </div>

            <h2>{{ form_label(formEdit.details) }}</h2>

            <table class="result2 details">
                <thead>
                <tr>
                    <th>{{ 'field.category'|trans }}</th>
                    <th>{{ 'field.amount'|trans }}</th>
                    <th>{{ 'field.information'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="transaction_details" data-prototype="{{ form_widget(formEdit.details.vars.prototype)|e }}">
                {{ form_widget(formEdit.details) }}
                </tbody>
            </table>
            <div class="action">
                <a href="#" class="btn btn-secondary transaction-add">
                    <span class="fi-plus"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </a>
            </div>

            <div class="actions_full">
                <button type="submit" class="btn btn-success" name="add">
                    <span class="fi-check"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <button type="submit" class="btn btn-success" name="add_and_new">
                    <span class="fi-check"></span>
                    {{ 'action.add_and_new'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <button type="submit" class="btn btn-success" name="add_and_close">
                    <span class="fi-check"></span>
                    {{ 'action.add_and_close'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_accounting_homepage') }}" class="btn btn-outline-secondary">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>

        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        var count ={{ formEdit.details|length }};
        $(document).ready(function () {
            $('.transaction-add').click(function (e) {
                e.preventDefault();
                TransactionAdd();
            });
            $('.transaction-del').click(function (e) {
                e.preventDefault();
                TransactionDel($(this).parent().parent());
            });
            $('#transaction_thirdName').autocomplete({
                source: Routing.generate('app_accounting_autocomplete_thirdname')
            });
            $('#transaction_bankName').autocomplete({
                source: Routing.generate('app_accounting_autocomplete_bankname')
            });
            $('.details input[id^=transaction_details_][id$=_category]').autocomplete({
                source: Routing.generate('app_accounting_autocomplete_category')
            });
        });
    </script>

{% endblock %}
