{% extends ':accounting:layout.html.twig' %}

{% trans_default_domain 'accounting' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ 'delete.title'|trans }}</h1>
        <nav>
            <a href="{{ path('app_accounting_edit',{transaction:transaction.id}) }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_accounting_delete">

        {{ form_start(formDelete) }}

        <div class="edit1">
            {{ form_errors(formDelete) }}
            <div class="notification">
                {{ 'delete.confirmation'|trans({'%amount%':transaction.amount|localizedcurrency('EUR'),'%date%':transaction.date|localizeddate('full','none')}) }}
            </div>
            <div class="action">
                <button type="submit" class="button error" name="delete">
                    <span class="fi-trash"></span>
                    {{ 'action.delete'|trans({},'messages') }}
                </button>
                <span>or</span>
                <a href="{{ path('app_accounting_edit',{transaction:transaction.id}) }}" class="button">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>

        {{ form_end(formDelete) }}

    </div>

{% endblock %}
