{% extends ':accounting:layout.html.twig' %}

{% trans_default_domain 'accounting' %}

{% block body %}

    <div class="app_accounting_index">

        <div id="menu-secondary">
            <h1>{{ 'index.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_accounting_add') }}" class="button secondary">
                    <span class="fi-plus"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.date) }}
            {{ form_row(formSearch.thirdName) }}
            <div>
                <button type="submit" class="button secondary" name="search">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        {{ include('default/_flash_messages.html.twig') }}

        <table class="result0">
            <thead>
            <tr>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:transactions.orderby,orderby:'date',title:'field.date'|trans} only -%}
                </th>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:transactions.orderby,orderby:'date_value',title:'field.date_value'|trans} only -%}
                </th>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:transactions.orderby,orderby:'paymentMethod',title:'field.paymentMethod'|trans} only -%}
                </th>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:transactions.orderby,orderby:'thirdName',title:'field.thirdName'|trans} only -%}
                </th>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:transactions.orderby,orderby:'amount',title:'field.amount'|trans} only -%}
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                {% set detailsAmount=transaction.detailsAmount %}
                <tr{% if transaction.amount!=detailsAmount %} class="alert"{% endif %}>
                    <td>{{ transaction.date|localizeddate('long','none') }}</td>
                    <td>{% if transaction.dateValue is not null %}{{ transaction.dateValue|localizeddate('long','none') }}{% endif %}</td>
                    <td>{{ transaction.paymentMethod }}</td>
                    <td>{{ transaction.thirdName }}</td>
                    <td>
                        {{ transaction.amount|localizedcurrency('EUR') }}
                        {% if transaction.amount!=detailsAmount %}
                            <small>({{ detailsAmount|localizedcurrency('EUR') }})</small>
                        {% endif %}
                    </td>
                    <td class="action">
                        <a href="{{ path('app_accounting_edit',{transaction:transaction.id}) }}" class="button primary">
                            <span class="fi-magnifying-glass"></span>
                            {{ 'action.edit'|trans({},'messages') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'default/_pagination.html.twig' with {results:transactions,route:route} only %}

    </div>

{% endblock %}
