{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div class="app_stat_account_summary">

        <div id="menu-secondary">
            <h1>{{ 'account_summary.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="btn btn-outline-secondary">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.start) }}
            {{ form_row(formSearch.stop) }}
            <div>
                <button type="submit" class="btn btn-primary">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        {{ include('default/_flash_messages.html.twig') }}

        <table class="result3 expenses">
            <thead>
            <tr>
                <th>{{ 'field.expenses'|trans }}</th>
                <th class="alignright">{{ 'field.amount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set total=0 %}
            {% for expense in results.expenses %}
                {% set total=total+expense.amount %}
                <tr>
                    <td>{{ expense.category }}</td>
                    <td class="alignright">{{ expense.amount|number_format(2,'.',' ') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="noresult">{{ 'no_expenses'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="alignright">{{ 'field.total'|trans }}</td>
                <td class="alignright">{{ total|number_format(2,'.',' ') }}</td>
            </tr>
            </tfoot>
        </table>

        <table class="result3 receipts">
            <thead>
            <tr>
                <th>{{ 'field.receipts'|trans }}</th>
                <th class="alignright">{{ 'field.amount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set total=0 %}
            {% for receipt in results.receipts %}
                {% set total=total+receipt.amount %}
                <tr>
                    <td>{{ receipt.category }}</td>
                    <td class="alignright">{{ receipt.amount|number_format(2,'.',' ') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="noresult">{{ 'no_receipts'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="alignright">{{ 'field_total'|trans }}</td>
                <td class="alignright">{{ total|number_format(2,'.',' ') }}</td>
            </tr>
            </tfoot>
        </table>

        <p>
            {{ 'balance_period'|trans }} :
            {{ results.period.amount|number_format(2,'.',' ') }}
        </p>
        <p>
            {{ 'balance_period_previous'|trans({'%date%':results.previous.stop|localizeddate('full','none')}) }} :
            {{ results.previous.amount|number_format(2,'.',' ') }}
        </p>
        <p>
            {{ 'balance_period_end'|trans({'%date%':results.period.stop|localizeddate('full','none')}) }} :
            {{ (results.period.amount+results.previous.amount)|number_format(2,'.',' ') }}
        </p>

    </div>

{% endblock %}
