{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div class="app_stat_amount_by_third">

        <div id="menu-secondary">
            <h1>{{ 'amount_by_third.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="button">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.start) }}
            {{ form_row(formSearch.stop) }}
            <div>
                <button type="submit" class="button primary">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        <table class="result2">
            <thead>
            <tr>
                <th>{{ 'field.third'|trans }}</th>
                <th>{{ 'field.amount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.third }}</td>
                    <td>{{ result.amount|localizedcurrency('EUR') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
