{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div class="app_stat_amount_by_month">

        <div id="menu-secondary">
            <h1>{{ 'amount_by_month.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="button">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ include('default/_flash_messages.html.twig') }}

        <div id="graph-evolution"></div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript">
        var categories = [];
        var series = [
            {
                name: '{{ 'field.amount'|trans }}',
                data: []
            }
        ];
        {% set min=0 %}
        {% for month,amount in results %}
        {% set min=min(min,amount) %}
        categories.push('{{ month|date('Y-m') }}');
        series[0].data.push({{ amount|number_format(2,'.','') }});
        {% endfor %}
        $(document).ready(function () {
            $('#graph-evolution').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '{{ 'amount_by_month.title'|trans }}'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    min: {{ min }}
                },
                legend: {
                    enabled: false
                },
                series: series
            });
        });
    </script>

{% endblock %}
