{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div id="page-stat-attendance-lesson">

        <div id="menu-secondary">
            <h1>{{ 'attendance_lesson.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="button">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.season) }}
            {{ form_row(formSearch.level) }}
            <div>
                <button type="submit" class="button secondary">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        {{ include('default/_flash_messages.html.twig') }}

        <div id="graph"></div>

        <div id="test"></div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/highcharts-more.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/modules/heatmap.js') }}"></script>
    <script type="text/javascript">
        var categories = [];
        var series = [
            {
                name: 'Présents',
                data: []
            }
        ];
        {% for d in data %}
        categories.push('{{ d.lesson|localizeddate('short','none') }}');
        series[0].data.push({{ (d.attendance/d.total*100)|number_format(1,'.','') }});
        {% endfor %}
        Highcharts.chart(
            'graph',
            {
                chart: {
                    type: 'column'
                },
                title: false,
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: '%'
                    }
                },
                legend: {
                    enabled: false
                },
                series: series
            }
        );
        var data = [];
        {% set day=-1 %}
        {% set month=-1 %}
        {% for k,d in data %}
        {% if k==0 or d.month!=data[k-1].month %}
        {% set month=month+1 %}
        {% set day=-1 %}
        {% endif %}
        {% set day=day+1 %}
        data.push([{{ month }}, {{ day }}, {{ (d.attendance/d.total*100)|round }}]);
        {% endfor %}
        Highcharts.chart(
            'test',
            {
                chart: {
                    type: 'heatmap',
                    marginTop: 40,
                    marginBottom: 80,
                    plotBorderWidth: 1,
                    height: 600
                },
                title: false,
                xAxis: {
                    categories: ['Septembre', 'Octobre', 'Novembre', 'Décembre', 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin']
                },
                yAxis: {
                    title: false
                },
                colorAxis: {
                    min: 0,
                    minColor: '#FFFFFF',
                    maxColor: Highcharts.getOptions().colors[0]
                },
                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 480
                },
                tooltip: false,
                series: [
                    {
                        borderWidth: 1,
                        data: data,
//                        data: [
//                            [0, 3, 50], [0, 2, 50], [0, 1, 60], [0, 0, 50],
//                            [1, 3, 100], [1, 2, 90], [1, 1, 100], [1, 0, 90],
//                            [2, 3, null], [2, 2, null], [2, 1, null], [2, 0, null],
//                            [3, 3, null],
//                            [4, 3, null],
//                            [5, 3, null],
//                            [6, 3, null],
//                            [7, 3, null],
//                            [8, 3, null],
//                            [9, 3, null]
//                        ],
                        dataLabels: {
                            enabled: true,
                            color: '#000000'
                        }
                    }
                ]
            }
        );
    </script>
{% endblock %}
