{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div class="app_stat_index">

        <h1>{{ 'index.title'|trans }}</h1>

        {{ include('default/_flash_messages.html.twig') }}

        <ul>
            <li>
                <a href="{{ path('app_stat_rank_progress') }}">{{ 'rank_progress.title'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_stat_amount_by_third') }}">{{ 'amount_by_third.title'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_stat_amount_by_month') }}">{{ 'amount_by_month.title'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_stat_account_summary') }}">{{ 'account_summary.title'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_stat_member_segment') }}">{{ 'member_segment.title'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_stat_member_origin') }}">{{ 'member_origin.title'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_stat_member_signature') }}">{{ 'member_signature.title'|trans }}</a>
            </li>
        </ul>

    </div>

{% endblock %}
