{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div id="page-stat-last-promotion">

        <div id="menu-secondary">
            <h1>{{ 'last_promotion.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="button">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.season) }}
            <div>
                <button type="submit" class="button secondary">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        {{ include('default/_flash_messages.html.twig') }}

        <table class="result1">
            <thead>
            <tr>
                <th>{{ 'field.member'|trans }}</th>
                <th colspan="2">{{ 'field.rank'|trans }}</th>
                <th>{{ 'field.date'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.member }}</td>
                    <td>{{ promotion.rank.name }}</td>
                    <td>
                        <img src="{{ path('app_param_rank_image',{rank:promotion.rank.id}) }}"
                             alt="{{ promotion.rank.description }}"/>
                    </td>
                    <td>{{ promotion.date|localizeddate('full','none') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
