{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div class="app_stat_member_segment">

        <div id="menu-secondary">
            <h1>{{ 'member_segment.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="btn btn-outline-secondary">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.season) }}
            <div>
                <button type="submit" class="btn btn-primary">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        <div id="graph-pyramid"></div>

        <table class="result2 auto">
            <thead>
            <tr>
                <th>{{ 'field.age'|trans }}</th>
                <th>{{ 'gender-m'|trans }}</th>
                <th>{{ 'gender-f'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for c,category in results.c %}
                <tr>
                    <td>{{ category }}</td>
                    <td class="aligncenter">{{ results.m[c] }}</td>
                    <td class="aligncenter">{{ results.f[c] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript">
        var categories = [];
        var max ={{ max(max(results.m),max(results.f))+1 }};
        var series = [
            {
                name: '{{ 'gender-m'|trans }}',
                data: []
            },
            {
                name: '{{ 'gender-f'|trans }}',
                data: []
            }
        ];
        {% for k,v in results.c %}
        categories.push('{{ v }}');
        series[0].data.push({{ results.m[k] }});
        series[1].data.push({{ results.f[k]*-1 }});
        {% endfor %}
        $(document).ready(function () {
            $('#graph-pyramid').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{{ 'member_segment.graph_title'|trans }}'
                },
                xAxis: [
                    {
                        categories: categories,
                        reversed: false,
                        labels: {
                            step: 1
                        }
                    }, {
                        opposite: true,
                        reversed: false,
                        categories: categories,
                        linkedTo: 0,
                        labels: {
                            step: 1
                        }
                    }
                ],
                yAxis: {
                    min: max * -1,
                    max: max,
                    title: {
                        text: null
                    },
                    labels: {
                        formatter: function () {
                            return Math.abs(this.value) + '%';
                        }
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' + 'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                    }
                },
                series: series
            });
        });
    </script>

{% endblock %}
