{% extends 'stat/layout.html.twig' %}

{% trans_default_domain 'stat' %}

{% block body %}

    <div class="app_stat_rank_progress">

        <div id="menu-secondary">
            <h1>{{ 'rank_progress.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_stat_index') }}" class="btn btn-outline-secondary">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.season) }}
            {{ form_row(formSearch.level) }}
            <div>
                <button type="submit" class="btn btn-primary">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        <table class="result2">
            <thead>
            <tr>
                <th>{{ 'field.member'|trans }}</th>
                <th>{{ 'field.age'|trans }}</th>
                <th>{{ 'field.level'|trans }}</th>
                <th>{{ 'field.rank'|trans }}</th>
                <th>{{ 'field.progress'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.member_firstname }} {{ result.member_lastname }}</td>
                    <td>{{ result.member_birthday|age }}</td>
                    <td>{{ result.level_name }}</td>
                    <td>
                        <img src="{{ path('app_param_rank_image',{rank:result.rank_id}) }}"
                             alt="{{ result.rank_description }}"
                             title="{{ result.rank_description }}"
                             class="rank-image"/><br/>
                        <small>{{ result.rank_name }}</small>
                    </td>
                    <td class="progress-lesson">
                        {{ 'count_lessons'|transchoice(result.lessons) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
