{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ 'add_promotion.title'|trans }}</h1>
        <nav>
            <a href="{{ path('app_member_show',{member:member.id}) }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_promotion_add">

        <div class="card0">
            <div class="image">
                <img src="{{ path('app_member_photo',{member:member.id}) }}" alt="Photo"/>
            </div>
            <div class="information">
                <div><strong>{{ member }}</strong></div>
                <div>{{ member.age }} {{ 'age'|trans }}</div>
                <div>{{ member.city }}</div>
            </div>
        </div>

        {{ form_start(formEdit) }}

        <div class="edit1">
            {{ form_errors(formEdit) }}
            {{ form_row(formEdit.date) }}
            {{ form_row(formEdit.rank) }}
            {{ form_row(formEdit.comment) }}
            <div class="action">
                <button type="submit" class="button success" name="update">
                    <span class="fi-check"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </button>
                <span>or</span>
                <a href="{{ path('app_member_show',{member:member.id}) }}" class="button">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
