{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div class="d-flex flex-row justify-content-between">
        <h3>{{ 'edit_promotion.title'|trans }}</h3>
        <nav>
            <a href="{{ path('app_member_show',{member:member.id}) }}" class="btn btn-outline-secondary">
                <span class="fi-arrow-left"></span>
                <span class="d-none d-sm-inline">{{ 'action.back'|trans({},'messages') }}</span>
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_promotion_edit">

        <div class="card0">
            <div class="information">
                <div><strong>{{ member }}</strong></div>
                {% if member.birthday is not null %}
                    <div>{{ member.age }} {{ 'age'|trans }}</div>
                {% endif %}
                {% if member.city is not null %}
                    <div>{{ member.city }}</div>
                {% endif %}
            </div>
        </div>

        {{ form_start(formEdit) }}

        <div class="edit1">
            {{ form_errors(formEdit) }}
            {{ form_row(formEdit.date) }}
            {{ form_row(formEdit.rank) }}
            {{ form_row(formEdit.comment) }}
            <div class="action">
                <button type="submit" class="btn btn-success" name="update">
                    <span class="fi-check"></span>
                    {{ 'action.update'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_member_promotion_delete',{promotion:promotion.id}) }}" class="btn btn-danger">
                    <span class="fi-trash"></span>
                    {{ 'action.delete'|trans({},'messages') }}
                </a>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_member_show',{member:member.id}) }}" class="btn btn-outline-secondary">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
