<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ application_name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/default.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('libs/foundation-icons/foundation-icons.css') }}"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,600"/>
        <link type="text/css"
              rel="stylesheet"
              href="{{ asset('assets/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css') }}"/>
    {% endblock %}
    <link type="image/png" rel="icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% if app.user %}
    <div id="menu-primary">
        <nav>
            <a href="{{ path('app_index') }}"{% if menuActive=='dashboard' %} class="active"{% endif %}>
                <span class="fi-home"></span>
                {{ 'menu.dashboard'|trans }}
            </a>
            <a href="{{ path('app_member_index') }}"{% if menuActive=='member' %} class="active"{% endif %}>
                <span class="fi-torsos"></span>
                {{ 'menu.member'|trans }}
            </a>
            <a href="{{ path('app_lesson_index') }}"{% if menuActive=='lesson' %} class="active"{% endif %}>
                <span class="fi-calendar"></span>
                {{ 'menu.lesson'|trans }}
            </a>
            <a href="{{ path('app_accounting_homepage') }}"{% if menuActive=='accounting' %} class="active"{% endif %}>
                <span class="fi-euro"></span>
                {{ 'menu.accounting'|trans }}
            </a>
            <a href="{{ path('app_stat_index') }}"{% if menuActive=='stat' %} class="active"{% endif %}>
                <span class="fi-graph-trend"></span>
                {{ 'menu.stat'|trans }}
            </a>
            <a href="{{ path('app_param_index') }}"{% if menuActive=='param' %} class="active"{% endif %}>
                <span class="fi-wrench"></span>
                {{ 'menu.param'|trans }}
            </a>
            <a href="{{ path('app_security_logout') }}">
                <span class="fi-power"></span>
                {{ 'menu.logout'|trans }}
            </a>
        </nav>
    </div>
{% endif %}
<div id="content">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui/ui/minified/datepicker.min.js') }}"></script>
    {% if app.request.locale=='fr' %}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui/ui/i18n/datepicker-fr.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.date').datepicker($.datepicker.regional['{{ app.request.locale }}']);
        });
    </script>
{% endblock %}
</body>
</html>
