{% extends ':accounting:layout.html.twig' %}

{% trans_default_domain 'accounting' %}

{% form_theme formEdit _self %}

{% block body %}

    <div class="app_accounting_category">

        <div id="menu-secondary">
            <h1>{{ 'category.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_accounting_homepage') }}" class="button">
                    <span class="fi-puzzle"></span>
                    {{ 'index.title'|trans }}
                </a>
            </nav>
        </div>

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(formEdit) }}
        <div class="edit">
            <ol class="categories" data-prototype="{{ form_widget(formEdit.categories.vars.prototype)|e }}">
                {% for category in formEdit.categories %}
                    {{ form_widget(category) }}
                {% endfor %}
            </ol>
            <div class="action">
                <button type="submit" class="button primary">
                    <span class="fi-check"></span>
                    {{ 'action.update'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="#" class="button secondary category-add">
                    <span class="fi-x"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </a>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_accounting_homepage') }}" class="button">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>
        {{ form_end(formEdit) }}

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        var count ={{ formEdit.categories|length }};
        $(document).ready(function () {
            $('.category-add').click(function (e) {
                e.preventDefault();
                CategoryAdd();
            });
            $('.category-del').click(function (e) {
                e.preventDefault();
                CategoryDel($(this).parent());
            });
        });
    </script>

{% endblock %}

{% block _category_collection_categories_entry_widget %}
    <li>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
        <a href="#" class="button warning category-del">
            <span class="fi-trash"></span>
            {{ 'action.delete'|trans({},'messages') }}
        </a>
    </li>
{% endblock %}
