{% trans_default_domain 'lesson' %}

{% if lessons|length>0 %}

    <div class="widget-missing-attendances">
        <h2>{{ 'widget.missing-attendances.title'|trans }}</h2>
        <ul>
            {% for lesson in lessons %}
                <li>
                    <a href="{{ path('app_lesson_day',{day:lesson.date|date('Y-m-d')}) }}">
                        {{ lesson.date|localizeddate('full','none')|capitalize }}
                        {{ 'at'|trans }}
                        {{ lesson.start|localizeddate('none','short') }}
                        :
                        {{ lesson.levels|join(', ') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}
