{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ 'add.title'|trans }}</h1>
        <nav>
            <a href="{{ path('app_member_index') }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_add">

        {{ form_start(formEdit) }}

        <div class="container">

            <div class="edit1">
                {{ form_row(formEdit.firstname) }}
                {{ form_row(formEdit.lastname) }}
                {{ form_row(formEdit.gender) }}
                {{ form_row(formEdit.birthday) }}
                {{ form_row(formEdit.birthplace) }}
                {{ form_row(formEdit.nationality) }}
                {{ form_row(formEdit.profession) }}
                {{ form_row(formEdit.address) }}
                {{ form_row(formEdit.zip) }}
                {{ form_row(formEdit.city) }}
                {{ form_row(formEdit.phone0) }}
                {{ form_row(formEdit.phone1) }}
                {{ form_row(formEdit.phone2) }}
                {{ form_row(formEdit.phone3) }}
                {{ form_row(formEdit.email0) }}
                {{ form_row(formEdit.email1) }}
                {{ form_row(formEdit.comment) }}
                <div class="action">
                    <button type="submit" class="button success" name="add">
                        <span class="fi-check"></span>
                        {{ 'action.add'|trans({},'messages') }}
                    </button>
                    <span>or</span>
                    <button type="submit" class="button success" name="add_and_new">
                        <span class="fi-check"></span>
                        {{ 'action.add_and_new'|trans({},'messages') }}
                    </button>
                    <span>or</span>
                    <a href="{{ path('app_member_index') }}" class="button">
                        <span class="fi-x"></span>
                        {{ 'action.cancel'|trans({},'messages') }}
                    </a>
                </div>
            </div>

        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
