{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ member }}</h1>
        <nav>
            <a href="{{ path('app_member_show',{member:member.id}) }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_edit">

        {{ form_start(formEdit) }}

        <div class="container">

            <div class="edit0">
                {{ form_row(formEdit.firstname) }}
                {{ form_row(formEdit.lastname) }}
                {{ form_row(formEdit.gender) }}
                {{ form_row(formEdit.birthday) }}
                {{ form_row(formEdit.birthplace) }}
                {{ form_row(formEdit.address) }}
                {{ form_row(formEdit.zip) }}
                {{ form_row(formEdit.city) }}
                {{ form_row(formEdit.photo) }}
                <div class="action">
                    <button type="submit" class="button success" name="update">
                        <span class="fi-check"></span>
                        {{ 'action.update'|trans({},'messages') }}
                    </button>
                    <button type="submit" class="button success" name="update_close">
                        <span class="fi-check"></span>
                        {{ 'action.update_and_close'|trans({},'messages') }}
                    </button>
                    <span>or</span>
                    <a href="{{ path('app_member_show',{member:member.id}) }}" class="button">
                        <span class="fi-x"></span>
                        {{ 'action.cancel'|trans({},'messages') }}
                    </a>
                </div>
            </div>

            {% if member.photoExtension %}
                <div class="photo">
                    <img src="{{ path('app_member_photo',{member:member.id}) }}" alt="Photo"/><br/>
                    <a href="#" class="button warning photo-delete">
                        <span class="fi-trash"></span>
                        {{ 'edit.action.delete_photo'|trans }}
                    </a>
                </div>
            {% endif %}

        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.photo-delete').click(function (e) {
                if (window.confirm('{{ 'edit.action.confirm_delete_photo'|trans }}')) {
                    window.location.href = '{{ path('app_member_edit',{member:member.id,delete:'photo'}) }}';
                }
            });
        });
    </script>

{% endblock %}
