{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div class="app_member_index">

        <div class="d-flex flex-row justify-content-between">
            <h3>{{ 'index.title'|trans }}</h3>
            <nav>
                <a href="{{ path('app_member_add') }}" class="btn btn-outline-primary">
                    <span class="fi-plus"></span>
                    <span class="d-none d-sm-inline">{{ 'action.add'|trans({},'messages') }}</span>
                </a>
            </nav>
        </div>

        {{ form_start(formSearch) }}
        <div class="search0">
            {{ form_row(formSearch.firstname) }}
            {{ form_row(formSearch.lastname) }}
            {{ form_row(formSearch.season) }}
            {{ form_row(formSearch.level) }}
            <div>
                <button type="submit" class="btn btn-primary" name="search">
                    <span class="fi-filter"></span>
                    {{ 'action.search'|trans({},'messages') }}
                </button>
            </div>
            <div>
                <button type="submit" class="btn btn-info" name="ods">
                    <span class="fi-page-export-csv"></span>
                    {{ 'action.ods'|trans({},'messages') }}
                </button>
                <button type="submit" class="btn btn-info" name="pdf">
                    <span class="fi-print"></span>
                    {{ 'action.pdf'|trans({},'messages') }}
                </button>
            </div>
        </div>
        {{ form_end(formSearch) }}

        {{ include('default/_flash_messages.html.twig') }}

        <table class="table mt-4">
            <thead>
            <tr>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:members.orderby,orderby:'firstname',title:'field.firstname'|trans} only -%}
                </th>
                <th>
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:members.orderby,orderby:'lastname',title:'field.lastname'|trans} only -%}
                </th>
                <th class="d-none d-lg-table-cell">
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:members.orderby,orderby:'gender',title:'field.gender'|trans} only -%}
                </th>
                <th class="d-none d-sm-table-cell">
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:members.orderby,orderby:'age',title:'field.age'|trans} only -%}
                </th>
                <th class="d-none d-lg-table-cell">
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:members.orderby,orderby:'city',title:'field.city'|trans} only -%}
                </th>
                <th class="d-none d-sm-table-cell">
                    {%- include 'default/_table_orderby.html.twig' with {route:route,sets:members.orderby,orderby:'rank',title:'field.rank'|trans} only -%}
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.lastname }}</td>
                    {% if member.gender=='m' %}
                        <td class="gender male d-none d-lg-table-cell">
                            <span class="fi-male"></span>
                            {{ 'gender.m'|trans }}
                        </td>
                    {% elseif member.gender=='f' %}
                        <td class="gender female d-none d-lg-table-cell">
                            <span class="fi-female"></span>
                            {{ 'gender.f'|trans }}
                        </td>
                    {% else %}
                        <td class="d-none d-md-table-cell"></td>
                    {% endif %}
                    <td class="d-none d-sm-table-cell">{{ member.age }}</td>
                    <td class="d-none d-lg-table-cell">{{ member.city }}</td>
                    <td class="d-none d-sm-table-cell rank">
                        {% if member.promotions.last %}
                            <img src="{{ path('app_param_rank_image',{rank:member.promotions.last.rank.id}) }}"
                                 alt="{{ member.promotions.last.rank.description }}"
                                 title="{{ member.promotions.last.rank.description }}"/>
                        {% endif %}
                    </td>
                    <td class="action">
                        <a href="{{ path('app_member_show',{member:member.id}) }}" class="btn btn-outline-primary text-nowrap">
                            <span class="fi-magnifying-glass"></span>
                            <span class="d-none d-md-inline">{{ 'action.show'|trans({},'messages') }}</span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'default/_pagination.html.twig' with {results:members,route:route} only %}

    </div>

{% endblock %}
