{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ member }}</h1>
        <nav>
            <a href="{{ path('app_member_index') }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_show">

        <div class="sheet">
            <div class="photo">
                <img src="{{ path('app_member_photo',{member:member.id}) }}" alt="Photo"/>
            </div>
            <div class="information">
                <div>{{ member }}</div>
                <div>
                    {{ ('gender.'~member.gender)|trans }},
                    {{ member.age }} {{ 'age'|trans }}
                    <small>{{ member.birthday|localizeddate('full','none') }}</small>
                </div>
                <div>{{ member.address }} - {{ member.zip }} {{ member.city }}</div>
                <div class="action">
                    <a href="{{ path('app_member_edit',{member:member.id}) }}" class="button primary">
                        <span class="fi-pencil"></span>
                        {{ 'action.edit'|trans({},'messages') }}
                    </a>
                </div>
            </div>
        </div>

        {% if lessons|length>0 %}

            <h2>{{ 'show.title.attendance'|trans }}</h2>

            <div class="attendance">
                {% for k,lesson in lessons %}
                    {% if loop.first or lessons[k-1].date|date('n')!=lesson.date|date('n') %}
                        <div>
                        <div class="month">{{ lesson.date|date('M y') }}</div>
                    {% endif %}
                    <div class="day state{{ lesson.attendances[0].state|default }}">
                        {{ lesson.date|date('D j') }}
                    </div>
                    {% if loop.last or lessons[k+1].date|date('n')!=lesson.date|date('n') %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endif %}

        <h2>{{ 'show.title.promotions'|trans }}</h2>

        <table class="result2 promotions">
            <thead>
            <tr>
                <th>{{ 'field.date'|trans }}</th>
                <th>{{ 'field.rank'|trans }}</th>
                <th>{{ 'field.description'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.date|localizeddate('full','none') }}</td>
                    <td>{{ promotion.rank.name }}</td>
                    <td class="description">
                        <img src="{{ path('app_param_rank_image',{rank:promotion.rank.id}) }}"
                             alt="{{ promotion.rank.description }}"
                             title="{{ promotion.rank.description }}"/>
                    </td>
                    <td class="action">
                        <a href="{{ path('app_member_promotion_edit',{promotion:promotion.id}) }}"
                           class="button secondary">
                            <span class="fi-pencil"></span>
                            {{ 'action.edit'|trans({},'messages') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="actions">
            <a href="{{ path('app_member_promotion_add',{member:member.id}) }}" class="button secondary">
                <span class="fi-plus"></span>
                {{ 'action.add'|trans({},'messages') }}
            </a>
        </div>

        <h2>{{ 'show.title.memberships'|trans }}</h2>

        <table class="result2 memberships">
            <thead>
            <tr>
                <th>{{ 'field.season'|trans }}</th>
                <th>{{ 'field.number'|trans }}</th>
                <th>{{ 'field.level'|trans }}</th>
                <th>{{ 'field.medicalCertificate'|trans }}</th>
                <th>{{ 'field.registrationForm'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for membership in memberships %}
                <tr>
                    <td>{{ membership.season }}</td>
                    <td>{{ membership.number }}</td>
                    <td>{{ membership.level }}</td>
                    <td>
                        {% if membership.medicalCertificate %}
                            <a href="{{ path('app_member_membership_document_download',{document:membership.medicalCertificate.id}) }}"
                               class="button">
                                <span class="fi-download"></span>
                                T&eacute;l&eacute;charger
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if membership.registrationForm %}
                            <a href="{{ path('app_member_membership_document_download',{document:membership.registrationForm.id}) }}"
                               class="button">
                                <span class="fi-download"></span>
                                T&eacute;l&eacute;charger
                            </a>
                        {% endif %}
                    </td>
                    <td class="action">
                        <a href="{{ path('app_member_membership_edit',{membership:membership.id}) }}"
                           class="button secondary">
                            <span class="fi-pencil"></span>
                            {{ 'action.edit'|trans({},'messages') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="actions">
            <a href="{{ path('app_member_membership_add',{member:member.id}) }}" class="button secondary">
                <span class="fi-plus"></span>
                {{ 'action.add'|trans({},'messages') }}
            </a>
        </div>

    </div>

{% endblock %}
