{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div class="d-flex flex-row justify-content-between">
        <h3>{{ member }}</h3>
        <nav>
            <a href="{{ path('app_member_index') }}" class="btn btn-outline-secondary">
                <span class="fi-list"></span>
                <span class="d-none d-sm-inline">{{ 'action.back'|trans({},'messages') }}</span>
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_show">

        <div class="sheet">
            <div class="information">
                <div>{{ member }}</div>
                <div>
                    {{ ('gender.'~member.gender)|trans }}
                    {% if member.birthday is not null %}
                        &ndash;
                        {{ member.age }} {{ 'age'|trans }}
                        <small>{{ member.birthday|localizeddate('full','none') }}</small>
                    {% endif %}
                </div>
                {% if member.address is not null %}
                    <div>{{ member.address }} - {{ member.zip }} {{ member.city }}</div>
                {% endif %}
                <div class="action">
                    <a href="{{ path('app_member_edit',{member:member.id}) }}" class="btn btn-outline-primary">
                        <span class="fi-pencil"></span>
                        {{ 'action.edit'|trans({},'messages') }}
                    </a>
                </div>
            </div>
        </div>

        {% if lessons|length>0 %}

            <h3 class="mt-5">{{ 'show.title.attendance'|trans }}</h3>

            <div class="attendance">
                {% for k,lesson in lessons %}
                    {% if loop.first or lessons[k-1].date|date('n')!=lesson.date|date('n') %}
                        <div>
                        <div class="month">{{ lesson.date|date('M y') }}</div>
                    {% endif %}
                    <div class="day state{{ lesson.attendances[0].state|default }}">
                        {{ lesson.date|date('D j') }}
                    </div>
                    {% if loop.last or lessons[k+1].date|date('n')!=lesson.date|date('n') %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endif %}

        <h3 class="mt-5">{{ 'show.title.promotions'|trans }}</h3>

        <table class="result2 promotions">
            <thead>
            <tr>
                <th>{{ 'field.date'|trans }}</th>
                <th>{{ 'field.rank'|trans }}</th>
                <th class="d-none d-md-table-cell">{{ 'field.description'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.date|localizeddate('long','none') }}</td>
                    <td>{{ promotion.rank.name }}</td>
                    <td class="description d-none d-md-table-cell">
                        <img src="{{ path('app_param_rank_image',{rank:promotion.rank.id}) }}"
                             alt="{{ promotion.rank.description }}"
                             title="{{ promotion.rank.description }}"/>
                    </td>
                    <td class="action">
                        <a href="{{ path('app_member_promotion_edit',{promotion:promotion.id}) }}"
                           class="btn btn-outline-primary text-nowrap">
                            <span class="fi-pencil"></span>
                            <span class="d-none d-md-inline">{{ 'action.edit'|trans({},'messages') }}</span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="actions">
            <a href="{{ path('app_member_promotion_add',{member:member.id}) }}" class="btn btn-outline-primary">
                <span class="fi-plus"></span>
                {{ 'action.add'|trans({},'messages') }}
            </a>
        </div>

        <h3 class="mt-5">{{ 'show.title.memberships'|trans }}</h3>

        <table class="result2 memberships">
            <thead>
            <tr>
                <th>{{ 'field.season'|trans }}</th>
                <th>{{ 'field.number'|trans }}</th>
                <th class="d-none d-sm-table-cell">{{ 'field.level'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for membership in memberships %}
                <tr>
                    <td>{{ membership.season }}</td>
                    <td>{{ membership.number }}</td>
                    <td class="d-none d-sm-table-cell">{{ membership.level }}</td>
                    <td class="action">
                        <a href="{{ path('app_member_membership_edit',{membership:membership.id}) }}"
                           class="btn btn-outline-primary text-nowrap">
                            <span class="fi-pencil"></span>
                            <span class="d-none d-sm-inline">{{ 'action.edit'|trans({},'messages') }}</span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="actions">
            <a href="{{ path('app_member_membership_add',{member:member.id}) }}" class="btn btn-outline-primary">
                <span class="fi-plus"></span>
                {{ 'action.add'|trans({},'messages') }}
            </a>
        </div>

    </div>

{% endblock %}
