{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="flash error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form method="post" action="{{ path("fos_user_security_check") }}">
    <div class="form-login">
        <div>
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus/>
        </div>
        <div>
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required/>
        </div>
        <div class="action">
            <button type="submit" name="_submit" class="button primary" id="_submit">
                <span class="fi-lock"></span>
                {{ 'security.login.submit'|trans }}
            </button>
        </div>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
    </div>
</form>
