{% extends ':param:layout.html.twig' %}

{% trans_default_domain 'param' %}

{% block body %}

    <div class="app_param_season_edit">

        {% include('param/_menu.html.twig') with {active:'season'} only %}

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(formEdit) }}
        <div class="edit1">
            {{ form_row(formEdit.start) }}
            {{ form_row(formEdit.stop) }}
            <div class="action">
                <button type="submit" class="btn btn-success">
                    <span class="fi-check"></span>
                    {{ 'action.update'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_param_season') }}" class="btn btn-outline-secondary">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>
        {{ form_end(formEdit) }}

    </div>

{% endblock %}
