{% extends ':param:layout.html.twig' %}

{% trans_default_domain 'param' %}

{% block body %}

    <div class="app_param_rank">

        {% include('param/_menu.html.twig') with {active:'rank'} only %}

        {{ include('default/_flash_messages.html.twig') }}

        <table class="result2">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'field.name'|trans }}</th>
                <th>{{ 'field.description'|trans }}</th>
                <th>{{ 'field.lessons'|trans }}</th>
                <th>{{ 'field.age'|trans }}</th>
                <th class="action">
                    <a href="{{ path('app_param_rank_add') }}" class="button primary">
                        <span class="fi-plus"></span>
                        {{ 'action.add'|trans({},'messages') }}
                    </a>
                </th>
            </tr>
            </thead>
            <tbody class="ranks">
            {% for rank in ranks %}
                <tr data-reference="{{ rank.id }}">
                    <td>#{{ rank.position+1 }}</td>
                    <td>{{ rank.name }}</td>
                    <td>
                        {% if rank.imageExtension %}
                            <img src="{{ path('app_param_rank_image',{rank:rank.id}) }}" alt="Image"/>
                        {% endif %}
                        <small>{{ rank.description }}</small>
                    </td>
                    <td>{{ rank.lessons }}</td>
                    <td>
                        {% if rank.ageMin %}
                            {% if rank.ageMax %}
                                [ {{ rank.ageMin }} - {{ rank.ageMax }} ]
                            {% else %}
                                &ge; {{ rank.ageMin }}
                            {% endif %}
                        {% else %}
                            {% if rank.ageMax %}
                                &le; {{ rank.ageMax }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="action">
                        <a href="{{ path('app_param_rank_edit',{rank:rank.id}) }}" class="button primary">
                            <span class="fi-pencil"></span>
                            {{ 'action.edit'|trans({},'messages') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="noresult">{{ 'no_results'|trans({},'messages') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{# TODO : allow re-order rank with drag and drop. See jQueryUI ? #}

{% block stylesheets %}

    {{ parent() }}
    <link type="text/css"
          rel="stylesheet"
          href="{{ asset('/libs/jquery-ui-1.10.3/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}"/>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('/libs/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.ranks').sortable(
                    {
                        containment: 'parent',
                        update: function (event, ui) {
                            ParamRankSort();
                        }
                    }
            ).disableSelection();
        });
    </script>

{% endblock %}