<nav class="tabs0">
    <a href="{{ path('app_param_season') }}"{% if active=='season' %} class="active"{% endif %}>
        <span class="fi-calendar"></span>
        {{ 'season.title'|trans({},'param') }}
    </a>
    <a href="{{ path('app_param_rank') }}"{% if active=='rank' %} class="active"{% endif %}>
        <span class="fi-sheriff-badge"></span>
        {{ 'rank.title'|trans({},'param') }}
    </a>
    <a href="{{ path('app_param_level') }}"{% if active=='level' %} class="active"{% endif %}>
        <span class="fi-graph-bar"></span>
        {{ 'level.title'|trans({},'param') }}
    </a>
    <a href="{{ path('app_param_password') }}"{% if active=='password' %} class="active"{% endif %}>
        <span class="fi-lock"></span>
        {{ 'password.title'|trans({},'param') }}
    </a>
</nav>
