{% extends ':param:layout.html.twig' %}

{% trans_default_domain 'param' %}

{% block body %}

    <div class="app_param_password">

        {% include('param/_menu.html.twig') with {active:'password'} only %}

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(formParam) }}
        <div class="edit0">
            {{ form_row(formParam.password_current) }}
            {{ form_row(formParam.password) }}
            <div class="action">
                <button type="submit" class="button success">
                    <span class="fi-check"></span>
                    {{ 'password.action.update_password'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(formParam) }}

    </div>

{% endblock %}