{% extends ':param:layout.html.twig' %}

{% trans_default_domain 'param' %}

{% block body %}

    <div class="app_param_rank">

        {% include('param/_menu.html.twig') with {active:'rank'} only %}

        {{ include('default/_flash_messages.html.twig') }}

        <table class="result1">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'field.name'|trans }}</th>
                <th>{{ 'field.description'|trans }}</th>
                <th>{{ 'field.position'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for rank in ranks %}
                <tr>
                    <td class="image">
                        {% if rank.imageExtension %}
                            <img src="{{ path('app_param_rank_image',{rank:rank.id}) }}" alt="Image"/>
                        {% endif %}
                    </td>
                    <td>{{ rank.name }}</td>
                    <td>{{ rank.description }}</td>
                    <td>{{ rank.position }}</td>
                    <td class="action">
                        <a href="{{ path('app_param_rank_edit',{rank:rank.id}) }}" class="button primary">
                            <span class="fi-pencil"></span>
                            {{ 'action.edit'|trans({},'messages') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}