{% block _planning_collection_elements_entry_label %}
{% endblock %}

{% block _planning_collection_elements_entry_widget %}
    {%- spaceless -%}
        {{ form_errors(form) }}
        <div>
            <div>
                {{ form_label(form.weekday) }}
                {{ form_widget(form.weekday) }}
            </div>
            <div>
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}
            </div>
            <div>
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>
            <div>
                {{ form_label(form.level) }}
                {{ form_widget(form.level) }}
            </div>
            <div>
                <a href="#" class="button warning element-del">
                    <span class="fi-trash"></span> {{ 'action.delete'|trans({},'messages') -}}
                </a>
            </div>
        </div>
    {%- endspaceless -%}
{% endblock %}

{% block _planning_collection_ignore_entry_label %}
{% endblock %}

{% block _planning_collection_ignore_entry_widget %}
    {%- spaceless -%}
        {{ form_errors(form) }}
        <div>
            <div>
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}
            </div>
            <div>
                {{ form_label(form.stop) }}
                {{ form_widget(form.stop) }}
            </div>
            <div>
                <a href="#" class="button warning ignore-del">
                    <span class="fi-trash"></span> {{ 'action.delete'|trans({},'messages') -}}
                </a>
            </div>
        </div>
    {%- endspaceless -%}
{% endblock %}

{%- block _lesson_day_collection_lessons_entry_row -%}
    <div class="lesson">
        {{- form_widget(form) -}}
    </div>
{%- endblock -%}

{%- block _lesson_day_collection_lessons_entry_widget -%}
    <div class="title">
        <div class="level">
            {{- form.vars.value.level -}}
        </div>
        <div class="time">
            {{- form.vars.value.start|localizeddate('none','short') -}}
            &nbsp;{{- 'to'|trans({},'messages') -}}&nbsp;
            {{- form.vars.value.start|date_modify('+'~form.vars.value.duration~' minutes')|localizeddate('none','short') -}}
        </div>
    </div>
    <div class="members">
        {%- for child in form.members -%}
            <div>
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </div>
        {%- endfor -%}
    </div>
    <div class="themes">
        {%- for child in form.themes -%}
            <div>
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </div>
        {%- endfor -%}
    </div>
    <div class="comment">{{- form_widget(form.comment) -}}</div>
    <div class="action">
        <a href="{{ path('app_lesson_edit',{lesson:form.vars.value.id}) }}" class="button secondary">
            <span class="fi-pencil"></span>
            {{ 'action.edit'|trans({},'messages') }}
        </a>
    </div>
{%- endblock -%}
