{% block _planning_collection_elements_entry_label %}
{% endblock %}

{% block _planning_collection_elements_entry_widget %}
    {%- spaceless -%}
        {{ form_errors(form) }}
        <div>
            <div>
                {{ form_label(form.weekday) }}
                {{ form_widget(form.weekday) }}
            </div>
            <div>
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}
            </div>
            <div>
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>
            <div>
                <a href="#" class="button warning element-del">
                    <span class="fi-trash"></span> {{ 'action.delete'|trans({},'messages') -}}
                </a>
            </div>
        </div>
    {%- endspaceless -%}
{% endblock %}
