{% extends 'lesson/layout.html.twig' %}

{% trans_default_domain 'lesson' %}

{% block body %}

    <div class="app_lesson_add">

        <div id="menu-secondary">
            <h1>{{ 'add.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_lesson_day',{day:day|date('Y-m-d')}) }}" class="btn btn-outline-secondary">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ form_start(formEdit) }}
        <div class="edit1">
            {{ form_row(formEdit.date) }}
            {{ form_row(formEdit.start) }}
            {{ form_row(formEdit.duration) }}
            {{ form_row(formEdit.levels) }}
            {{ form_row(formEdit.comment) }}
            <div class="action">
                <button type="submit" class="btn btn-success">
                    <span class="fi-plus"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_lesson_day',{day:day|date('Y-m-d')}) }}" class="btn btn-outline-secondary">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>
        {{ form_end(formEdit) }}

    </div>

{% endblock %}
