{% extends 'lesson/layout.html.twig' %}

{% trans_default_domain 'lesson' %}

{% form_theme formCollection 'lesson/_fields.html.twig' %}

{% block body %}

    <div class="app_lesson_day">

        <div id="menu-secondary">
            <h1>{{ 'day.title'|trans({'%day%':day|localizeddate('full','none')}) }}</h1>
            <nav>
                <a href="{{ path('app_lesson_index') }}" class="btn btn-outline-secondary">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
                <a href="{{ path('app_lesson_add',{day:day|date('Y-m-d')}) }}" class="btn btn-primary">
                    <span class="fi-plus"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ include('default/_flash_messages.html.twig') }}

        <div class="navigation">
            {% if previous %}
                <a href="{{ path('app_lesson_day',{day:previous|date('Y-m-d')}) }}" class="btn btn-secondary previous">
                    <span class="fi-arrow-left"></span>
                    {{ 'previous_day'|trans }}
                </a>
            {% else %}
                <span>{{ 'previous_day'|trans }}</span>
            {% endif %}
            {% if next %}
                <a href="{{ path('app_lesson_day',{day:next|date('Y-m-d')}) }}" class="btn btn-secondary next">
                    {{ 'next_day'|trans }}
                    <span class="fi-arrow-right"></span>
                </a>
            {% else %}
                <span>{{ 'next_day'|trans }}</span>
            {% endif %}
        </div>

        {{ form_start(formCollection) }}
        {{ form_widget(formCollection.lessons) }}
        <div class="actions">
            <button type="submit" class="btn btn-success">
                <span class="fi-check"></span>
                {{ 'action.update_lessons'|trans }}
            </button>
            <span>ou</span>
            <a href="{{ path('app_lesson_index') }}" class="btn btn-outline-secondary">
                <span class="fi-x"></span>
                {{ 'action.cancel'|trans({},'messages') }}
            </a>
        </div>
        {{ form_end(formCollection) }}

        <div class="legend">
            L&eacute;gende :<br/>
            <span class="absent">Absent</span>
            <span class="apologize">Excus&eacute;</span>
            <span class="present">Pr&eacute;sent</span>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $('#lesson_day_collection_lessons').find('div.members > div > label').click(function () {
            var inputs = $(this).parent().find('input[type=radio]');
            var next = inputs.filter(':checked').next('input[type=radio]');
            if (next.length === 0) {
                next = inputs.first();
            }
            next.prop('checked', 'checked');
        });
    </script>

{% endblock %}
