{% extends ':lesson:layout.html.twig' %}

{% trans_default_domain 'lesson' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ 'delete.title'|trans }}</h1>
        <nav>
            <a href="{{ path('app_lesson_day',{day:lesson.date|date('Y-m-d')}) }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_lesson_delete">

        {{ form_start(formDelete) }}

        <div class="edit1">
            {{ form_errors(formDelete) }}
            <div class="notification">
                <p>{{ 'delete.confirmation'|trans({'%date%':lesson.date|localizeddate('full','none'),'%start%':lesson.start|localizeddate('none','short')}) }}</p>
                <p>{{ 'field.levels'|trans }} : {{ lesson.levels|join(', ') }}</p>
            </div>
            <div class="action">
                <button type="submit" class="button error" name="delete">
                    <span class="fi-trash"></span>
                    {{ 'action.delete'|trans({},'messages') }}
                </button>
                <span>or</span>
                <a href="{{ path('app_lesson_day',{day:lesson.date|date('Y-m-d')}) }}" class="button">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>

        {{ form_end(formDelete) }}

    </div>

{% endblock %}
