{% extends 'lesson/layout.html.twig' %}

{% trans_default_domain 'lesson' %}

{% block body %}

    <div class="app_lesson_edit">

        <div id="menu-secondary">
            <h1>{{ 'edit.title'|trans }}</h1>
            <nav>
                <a href="{{ path('app_lesson_day',{day:lesson.date|date('Y-m-d')}) }}" class="btn btn-outline-secondary">
                    <span class="fi-arrow-left"></span>
                    {{ 'action.back'|trans({},'messages') }}
                </a>
            </nav>
        </div>

        {{ form_start(formEdit) }}
        <div class="edit1">
            {{ form_row(formEdit.date) }}
            {{ form_row(formEdit.start) }}
            {{ form_row(formEdit.duration) }}
            {{ form_row(formEdit.levels) }}
            {{ form_row(formEdit.comment) }}
            <div class="action">
                <button type="submit" class="btn btn-success">
                    <span class="fi-check"></span>
                    {{ 'action.update'|trans({},'messages') }}
                </button>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_lesson_delete',{lesson:lesson.id}) }}" class="btn btn-danger">
                    <span class="fi-trash"></span>
                    {{ 'action.delete'|trans({},'messages') }}
                </a>
                <span>{{ 'or'|trans({},'messages') }}</span>
                <a href="{{ path('app_lesson_day',{day:lesson.date|date('Y-m-d')}) }}" class="btn btn-outline-secondary">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>
        {{ form_end(formEdit) }}

    </div>

{% endblock %}
