{% extends ':param:layout.html.twig' %}

{% trans_default_domain 'param' %}

{% block body %}

    {% include('param/_menu.html.twig') with {active:'theme'} only %}

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_param_theme_edit">

        {{ form_start(formEdit) }}

        <div class="container">

            <div class="edit1">
                {{ form_row(formEdit.name) }}
                <div class="action">
                    <button type="submit" class="btn btn-success" name="update">
                        <span class="fi-check"></span>
                        {{ 'action.update'|trans({},'messages') }}
                    </button>
                    <button type="submit" class="btn btn-success" name="update_close">
                        <span class="fi-check"></span>
                        {{ 'action.update_and_close'|trans({},'messages') }}
                    </button>
                    {% if deletable %}
                        <span>{{ 'or'|trans({},'messages') }}</span>
                        <a href="{{ path('app_param_theme_delete',{theme:theme.id}) }}" class="btn btn-danger">
                            <span class="fi-trash"></span>
                            {{ 'action.delete'|trans({},'messages') }}
                        </a>
                    {% endif %}
                    <span>{{ 'or'|trans({},'messages') }}</span>
                    <a href="{{ path('app_param_theme') }}" class="btn btn-outline-secondary">
                        <span class="fi-x"></span>
                        {{ 'action.cancel'|trans({},'messages') }}
                    </a>
                </div>
            </div>

        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
