{% extends ':member:layout.html.twig' %}

{% trans_default_domain 'member' %}

{% block body %}

    <div id="menu-secondary">
        <h1>{{ 'add_membership.title'|trans }}</h1>
        <nav>
            <a href="{{ path('app_member_show',{member:member.id}) }}" class="button">
                <span class="fi-arrow-left"></span>
                {{ 'action.back'|trans({},'messages') }}
            </a>
        </nav>
    </div>

    {{ include('default/_flash_messages.html.twig') }}

    <div class="app_member_membership_add">

        <div class="card0">
            <div class="information">
                <div><strong>{{ member }}</strong></div>
                {% if member.birthday is not null %}
                    <div>{{ member.age }} {{ 'age'|trans }}</div>
                {% endif %}
                {% if member.city is not null %}
                    <div>{{ member.city }}</div>
                {% endif %}
            </div>
        </div>

        {{ form_start(formEdit) }}

        <div class="edit1">
            {{ form_errors(formEdit) }}
            {{ form_row(formEdit.season) }}
            {{ form_row(formEdit.number) }}
            {{ form_row(formEdit.level) }}
            {{ form_row(formEdit.medicalCertificate) }}
            {{ form_row(formEdit.registrationForm) }}
            <div class="action">
                <button type="submit" class="button success" name="update">
                    <span class="fi-check"></span>
                    {{ 'action.add'|trans({},'messages') }}
                </button>
                <span>or</span>
                <a href="{{ path('app_member_show',{member:member.id}) }}" class="button">
                    <span class="fi-x"></span>
                    {{ 'action.cancel'|trans({},'messages') }}
                </a>
            </div>
        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
